/*
	Fixa o rodapé
*/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

.navbar-dark .navbar-nav .nav-link,
.btn {
    color: white !important;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.carousel-caption h2 {
    font-size: 3rem;
    font-weight: 700;
}

.carousel-caption h5 {
    font-size: 1.5rem;
}

.card-panel {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.carousel-item img {
    max-height: 600px;
    object-fit: cover;
}

/*  Títulos responsivos */

/* Título de blocos informativos */
h4 {
    font-size: clamp(1.3rem, 2vw, 2.6rem);
}

/* Título sobre imagem do card */
.card .card-title {
    font-size: clamp(1.1rem, 2.2vw, 2rem);
}

/* Tipografia Fluida */

.section.bg-primary.text-white h4+p {
    font-size: clamp(1.125rem, 1.0114rem + 0.4848vw, 1.375rem);
    font-weight: 300;
}

.card .card-text {
    font-size: 0.9rem;
    line-height: 1.5;
}

@media (min-width: 768px) {
    .card .card-text {
        font-size: 1rem;
    }
}

@media (min-width: 1200px) {
    .card .card-text {
        font-size: 1.05rem;
    }
}